$weird-green: #0E483E;

.form-title {
  color: $weird-green;
  font-size: 1.5rem;
  font-weight: 500;

  span {
    border-bottom: 3px solid $weird-green;
  }

}

.close-icon {
  width: 1.8rem;
  color: #222222;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-delay: 0.1s;
    color: #B4363F;
  }
}

@media (max-width: 576px) {
  .form-title {
    font-size: 1.2rem;
  }
  .close-icon {
    width: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .form-title {
    font-size: 1.3rem;
  }
  .close-icon {
    width: 1.4rem;
  }
}
