.list-item {
  font-size: 1.4rem;
  font-weight: 500;

  &:hover {
    background-color: #F5F5F5;

    .list-item-icons {
      display: flex !important;
    }
  }

  .edit-icon {
    color: #E0A34E;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition-delay: 0.1s;
    }

  }

  .delete-icon {
    color: #B4363F;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition-delay: 0.1s;
    }
  }
}

@media (max-width: 576px) {
  .delete-icon, .edit-icon {
    width: 1.3rem;

  }
  .list-item {
    font-size: 1.2rem;
  }
  .list-item-icons {
    display: inline-flex !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .delete-icon, .edit-icon {
    width: 1.7rem;
    display: inline-flex !important;
  }
  .list-item-icons {
    display: inline-flex !important;
  }

  .list-item {
    font-size: 1.3rem;
  }
}

